flows.json
[{"id":"3d8c8404.127b2c","type":"tab","label":"Jirauto","disabled":false,"info":""},{"id":"39293716.f26488","type":"http request","z":"3d8c8404.127b2c","name":"POST","method":"POST","ret":"obj","paytoqs":true,"url":"http://jiraya.hbsis.com.br:8001/api/jiraya/point/","tls":"","proxy":"","authType":"","x":950,"y":680,"wires":[["e9a0babe.8a5388"]]},{"id":"e9a0babe.8a5388","type":"debug","z":"3d8c8404.127b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":680,"wires":[]},{"id":"2976bbf4.d54584","type":"json","z":"3d8c8404.127b2c","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":680,"wires":[["39293716.f26488"]]},{"id":"7661996d.f98ee8","type":"inject","z":"3d8c8404.127b2c","name":"Check 11h","topic":"","payload":"{\"userName\":\"nome.sobrenome\",\"initialDate\":\"\",\"endDate\":\"\"}","payloadType":"json","repeat":"","crontab":"00 11 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["98656f00.c55af"]]},{"id":"6e2a1a63.0c04b4","type":"function","z":"3d8c8404.127b2c","name":"GetToday","func":"const currentDate = new Date()\n\nconst formatedDate = date => {\n    const day = date.getDate()\n    const month = date.getMonth() + 1\n    const year = currentDate.getFullYear()\n    return `${year}-${month}-${day}`\n}\n\nmsg.payload.initialDate = formatedDate(currentDate)\nmsg.payload.endDate = formatedDate(currentDate)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["ed5ecc36.3625d"]]},{"id":"98656f00.c55af","type":"json","z":"3d8c8404.127b2c","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":80,"wires":[["6e2a1a63.0c04b4"]]},{"id":"ed5ecc36.3625d","type":"http request","z":"3d8c8404.127b2c","name":"GET Histórico","method":"GET","ret":"obj","paytoqs":true,"url":"http://jiraya.hbsis.com.br:8001/api/jiraya/point/getPointsHistory","tls":"","proxy":"","authType":"","x":640,"y":80,"wires":[["50c3464c.a0fc68"]]},{"id":"50c3464c.a0fc68","type":"json","z":"3d8c8404.127b2c","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":80,"wires":[["acf6c823.294238"]]},{"id":"acf6c823.294238","type":"function","z":"3d8c8404.127b2c","name":"Next Registers","func":"const payload = msg.payload\n\nDate.prototype.addHours= function(h){\n    this.setHours(this.getHours()+h)\n    return this\n}\n\nDate.prototype.addMinutes= function(m){\n    this.setMinutes(this.getMinutes()+m)\n    return this\n}\n\nif(payload[0].totalPoints > 0){\n    const formatedDate = date => {\n        const day = date.getDate()\n        const month = date.getMonth() + 1\n        const year = currentDate.getFullYear()\n        return `${year}-${month}-${day}`\n    }\n\n    const firstRegister = new Date(payload[0].listOfPoints[0].dateTime)\n    \n    const lunchRegister = new Date(firstRegister.addHours(4))\n    msg.payload.ontime = lunchRegister\n    \n    const randomReturnDelay = Math.floor((Math.random() * 3) + 1)\n    msg.payload.returnRegister = new Date(firstRegister.addHours(1).addMinutes(randomReturnDelay))\n    \n    const randomLeaveDelay = Math.floor((Math.random() * 22) + 2)\n    msg.payload.leaveRegister = new Date(firstRegister.addHours(4).addMinutes(randomLeaveDelay))\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["18980aab.2a1895","b2e79d4b.3f8dc","4a67f70.e885f08"]]},{"id":"e14fbc3b.1349","type":"debug","z":"3d8c8404.127b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":280,"wires":[]},{"id":"18980aab.2a1895","type":"schedex","z":"3d8c8404.127b2c","name":"Lunch","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":490,"y":280,"wires":[["d92dc042.1ae6b"]]},{"id":"d92dc042.1ae6b","type":"function","z":"3d8c8404.127b2c","name":"Credencials","func":"msg.payload = {\n    username:\"\",\n    password:\"\",\n    token:\"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":280,"wires":[["e14fbc3b.1349","1a11db59.86b2d5"]]},{"id":"162981b0.222dce","type":"schedex","z":"3d8c8404.127b2c","name":"Return","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":490,"y":400,"wires":[["d92dc042.1ae6b"]]},{"id":"1b72d9e.6460b26","type":"schedex","z":"3d8c8404.127b2c","name":"Leave","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":490,"y":500,"wires":[["d92dc042.1ae6b"]]},{"id":"b2e79d4b.3f8dc","type":"function","z":"3d8c8404.127b2c","name":"Return","func":"msg.payload.ontime = msg.payload.returnRegister\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["162981b0.222dce"]]},{"id":"4a67f70.e885f08","type":"function","z":"3d8c8404.127b2c","name":"Leave","func":"msg.payload.ontime = msg.payload.leaveRegister\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["1b72d9e.6460b26"]]},{"id":"1a11db59.86b2d5","type":"gate","z":"3d8c8404.127b2c","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":890,"y":460,"wires":[["2976bbf4.d54584"]]},{"id":"6dc9bee7.8e615","type":"inject","z":"3d8c8404.127b2c","name":"Liga","topic":"Control","payload":"open","payloadType":"str","repeat":"","crontab":"46 18 * * *","once":false,"onceDelay":0.1,"x":490,"y":620,"wires":[["1a11db59.86b2d5"]]},{"id":"75568c05.a84e04","type":"inject","z":"3d8c8404.127b2c","name":"Desliga","topic":"Control","payload":"close","payloadType":"str","repeat":"","crontab":"46 18 * * *","once":false,"onceDelay":0.1,"x":480,"y":680,"wires":[["1a11db59.86b2d5"]]}]